.single-camera-details h2{
    font-size: 19px;
    margin-bottom: 15px;
}   
.single-camera-details h5{
    padding: 8px 20px ;
    background-color: #ddd;
    width: 150px;
    text-align: center;
    border-radius: 6px;

}   
.buy-now{
    margin:20px 0;  
    display: flex;
    justify-content: start;
    align-items: center; 
    overflow: hidden;
}
.buy-now span{
    border:1px solid #ddd; 
    padding: 8px 20px;
}
.buy-now span:hover{
    background-color: #ddd;
    cursor: pointer;
}
.btn-buy-now{
    text-decoration: none;
    background: rgba(55, 75, 185, 0.1);
    background: #3749BB;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    color:#fff;
}
.btn-buy-now:hover{
    background: rgba(55, 75, 185, 0.1);
    color:#3749BB;
}
.single-camera-details{
    margin-top: 30px;
}
.details-product li{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.details-product li span{
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}
.price{
    color:#FE4C1C;
    font-weight: 900!important;
}
.table-gray{
    background-color: #ddd!important;
    border:1px solid #fff;
}
.related-product{
    padding:30px 0;
}
.single-related-camera{
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 6px;
}
.single-related-camera h4{
    margin: 10px 0;
}
.single-related-camera img{
    width: 50%;
    border-radius: 30px;
}